
.PageHeader{
    height: 48px;
    position: fixed;
    background-color: #fff;
    top: 0px;
    padding-top: 27px;
    &__block1{
        display: flex;
        position: relative;
        width: 1040px;
        height: 48px;
        align-items: center;
    }
    &__logo{
        margin-right: 120px;
        text-decoration: none;
    }
    &__nav-links{
        margin-right: 27px;
    }
    &__nav{
        text-decoration: none;
        color: #52317D;
    }
    &__button{
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 169px;
        height: 48px;
        border-radius: 10px;
        background-color: #52317D;
        color: white;
        font-size: 16px;
        border: none;
        text-decoration: none;
        align-items: center;
        cursor: pointer;
    }
    &__button:hover{
        background-color: #30184f;
        transition: background-color 0.3s ease;

    }
}