.Profile{
    &__title{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: #52317D;
    }
    &__container{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-areas: 
            "bio record" 
            "report record";

        
    }
    &__bio{
        display: block;
        grid-area: bio;
        position: relative;
        margin-top: 105px;
        background-image: linear-gradient(to bottom, #F7E4FF 43%, #C6D3F6 100%);
        width: 460px;
        height: 213px;
        border-radius: 25px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        padding: 50px 17px 0;
        


    }
    &__input{
        margin-bottom: 15px;
        border: none;
        font-size: 24px;
        color: #52317D;
        font-weight: 600;
        background-color: transparent;
    }
    &__input::placeholder{
        color: rgba(82, 49, 125, 0.5);
    }
    &__input:focus{
        outline: none;
    }
    &__container-photo{
        position: absolute;
        background-color: #AA9EB8;
        width: 162px;
        height: 155px;
        border-radius: 117px;
        top: 30px;
        right: -80px;
    }
    &__input-photo{
        width: 162px;
        height: 155px;
        border-radius: 117px;
        overflow: hidden;
        cursor: pointer;
    }
    &__text{
        margin: 0;
        margin-bottom: 15px;
        font-size: 24px;
        color: #52317D;
    }
    &__btn{
        position: absolute;
        top: 250px;
        padding: 0 30px;
        border: 2px solid #B4B3B3;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
        padding: 15px 20px;
        font-size: 16px;
        cursor: pointer;
        &--mr20{
            left: 150px;
        }
    }
    &__btn:hover{
        background-color: #52317D;
        color: #fff;
        border-color: #52317D;
        transition: background-color 0.3s ease;
    }
}


.Record{
    grid-area: record;
    &__title{
        margin-top: 105px;
        display: flex;
        justify-content: center;
        color: #52317D;
        margin-bottom: 36px;
    }
    &__container{
        display: flex;
        justify-content: center;
        width: 454px;
        height: 56px;
        border-radius: 32px;
        background-color: #C9D4F6;
        color: #52317D;
        font-size: 16px;
        border: none;
        text-decoration: none;
        align-items: center;
        cursor: pointer;
        margin-bottom: 27px;
    }
    &__content{
        font-size: 20px;
    }
}
.Report{
    grid-area: report;
    &__title{
        margin-top: 130px;
        color: #52317D;
        font-size: 20px;
        max-width: 439px;
        text-align: center;
    }
}